<style type="text/css">
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', '微软雅黑';
    background-color: #D3D0C6;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
a {
    color: #369;
    text-decoration: none;
    cursor: pointer;
}
#header, #mainer, #utility, #footer {
    padding: 10px;
}
#mainer, #utility {
    background-color: white;
}
#header {
    text-align: center;
    min-height: 30px;
}
#url, #desc {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #564A29;
}
#ann {
    float: right;
    text-align: right;
    font-size: 12px;
    color: #A0977D;
    border-left: 3px solid #A0977D;
    padding-left: 5px;
}
#url {
    font-weight: bold;
}
#mainer {
    padding: 20px 10px;
    display: flex;
    align-content: stretch;
    overflow: hidden;
}
#mainer>div {
    position: relative;
}
#mainerStat {
    margin-right: 10px;
    min-width: 310px;
    max-width: 310px;
}
#basicStat>div {
    width: 50%;
}
#currPing {
    float: left;
}
#currPingAvg {
    float: right;
}
.number, .percent, .desc {
    text-align: center;
}
.number {
    font-size: 50px;
    color: #DE7A60;
    font-weight: bold;
}
.percent {
    font-size: 20px;
    color: #DE7A60;
}
.desc {
    font-size: 14px;
    color: rgba(227, 104, 72, 0.8);
}
#overallStat {
    top: 100px;
    margin: 10px 0;
    overflow: hidden;
}
.rate {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 5px;
}
.rate .number, .rate .desc {
    position: absolute;
}
.rate .number {
    width: 150px;
    height: 150px;
    line-height: 150px;
    letter-spacing: -2px;
}
.rate .desc {
    width: 150px;
    top: 170px;
}
.rate canvas {
    height: 150px;
}
#hourlyStat {
    border: 1px #E9E3D3 solid;
}
#hourlyStat .number {
    position: relative; 
    top: 5px; 
    font-weight: normal;
    letter-spacing: -4px;
    font-size: 45px;
    line-height: 50px;
}
#hourlyStat .block {
    display: flex;
}
#hourlyStat .blockUnit {
    flex-grow: 1;
    height: 85px;
    margin-bottom: -5px;
}
#hourlyStat .title {
    background-color: #E9E3D3;
    color: #4E5457;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
#hourlyStat .tag {
    position: relative;
    top: -1px;
    padding: 1px 3px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
}
#hourlyStat .tag.up {
    background-color: #84DBAA;
    color: #1D3E2B;
}
#hourlyStat .tag.down {
    background-color: #FF7B58;
    color: #FFF5F3;
}
#mainerChart {
    display: flex;
    flex-grow: 1;
}
#mainerChart>div {
    position: relative;
    flex-basis: 0;
}
#eachPingChart {
    flex-grow: 4;
}
#intPingChart {
    flex-grow: 5;
}
#eachPingChart canvas, #intPingChart canvas {
    height: 450px;
}
#utility {
    /*min-height: 350px;*/
    overflow: hidden;
}
#utility .nav {
    display: none;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px black solid;
}
#utility .nav.clickable {
    cursor: pointer;
}
#utility .navArea { /* An area consists of 2 * 2 navs */
    float: left;
    width: 340px;
    height: 340px;
}
#utility .nav.c0 {
    outline-color: #ccc;
    -webkit-transition: outline 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: outline 0.1s linear, box-shadow 0.1s linear;
            transition: outline 0.1s linear, box-shadow 0.1s linear;
}
#utility .nav.c0.active {
    outline-color: #666;
    -webkit-box-shadow: 0 0 5px #666;
       -moz-box-shadow: 0 0 5px #666;
            box-shadow: 0 0 5px #666;
}
#utility .nav.c1 {
    outline-color: #CCF7DF;
    -webkit-transition: outline 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: outline 0.1s linear, box-shadow 0.1s linear;
            transition: outline 0.1s linear, box-shadow 0.1s linear;
}
#utility .nav.c1.active {
    outline-color: #84DBAA;
    -webkit-box-shadow: 0 0 5px #84DBAA;
       -moz-box-shadow: 0 0 5px #84DBAA;
            box-shadow: 0 0 5px #84DBAA;
}
#utility .nav.c2 {
    outline-color: #FFDCD3;
    -webkit-transition: outline 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: outline 0.1s linear, box-shadow 0.1s linear;
            transition: outline 0.1s linear, box-shadow 0.1s linear;
}
#utility .nav.c2.active {
    outline-color: #FFAF9A;
    -webkit-box-shadow: 0 0 5px #FFAF9A;
       -moz-box-shadow: 0 0 5px #FFAF9A;
            box-shadow: 0 0 5px #FFAF9A;
}
#utility .nav.long {
    width: 320px; /* nav.width * 2 + nav.margin-right */
}
#utility .nav .title {
    font-size: 32px;
    text-align: center;
    width: 150px;
    height: 75px;
    line-height: 75px;
}
#utility .nav .title.solo {
    height: 150px;
    line-height: 150px;
    font-size: 24px;
}
#utility .nav .image {
    width: 150px;
    height: 150px;
}

#footer {
    height: 30px;
    font-size: 12px;
    color: #564A29;
    text-align: center;
}
canvas {
    width: 100%;
}
.clearfix {
    clear: both;
}

/* Medium Screen */
@media all and (max-width: 1440px) {
    #mainerChart {
        display: block;
    }
    #eachPingChart, #intPingChart {
        width: 100%;
        height: 225px;
    }
    #eachPingChart canvas, #intPingChart canvas {
        height: 225px;
    }
}
/* Mobile Screen */
@media all and (max-width: 720px) {
    #header, #mainer, #utility, #footer {
        padding: 5px;
    }
    #desc {
        display: inline-block;
    }
    #mainer {
        display: block;
    }
    #mainerStat, #eachPingChart, #intPingChart {
        margin: 0 auto 10px;
    }
    #eachPingChart, #intPingChart {
        width: 90%;
        height: 240px;
    }
    #eachPingChart canvas, #intPingChart canvas {
        height: 240px;
    }
    #utility .nav {
        outline: none;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #utility .navArea {
        margin: 0 auto;
        float: none;
        width: 320px;
        height: 320px;
    }
}

</style>
<script type="text/javascript">
__._('Current', '<%= __('Current') %>');
__._('Average', '<%= __('Average') %>');
__._('Highest', '<%= __('Highest') %>');
__._('Lowest', '<%= __('Lowest') %>');
</script>
<div id="header">
    <span id="url">zPing</span>
    <span id="desc"><%= __('Header Desc') %></span>
    <div id="ann"><%- __('Header Ann') %></div>
    <div class="clearfix"></div>
</div>
<div id="mainer">
    <div id="mainerStat">
        <div id="basicStat">
            <div id="currPing">
                <span class="desc"><%= __('Current') %></span>
                <span class="number">----</span>
            </div>
            <div id="currPingAvg">
                <span class="desc"><%= __('Average') %></span>
                <span class="number">----</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="overallStat">
            <div id="lagRate" class="rate">
                <div class="number">-<span class="percent">%</span></div>
                <div class="desc"><%= __('Rate Lag') %></div>
                <canvas></canvas>
            </div>
            <div id="lossRate" class="rate">
                <div class="number">-<span class="percent">%</span></div>
                <div class="desc"><%= __('Rate Loss') %></div>
                <canvas></canvas>
            </div>
        </div>
        <div id="hourlyStat">
            <div class="title">
                <%= __('Hourly Stat') %> <span class="tag up">--% -</span>
            </div>
            <div class="block top">
                <div class="blockUnit" id="hourlyCount">
                    <div class="number">----</div>
                    <div class="desc"><%= __('Count Requests') %></div>
                </div>
                <div class="blockUnit" id="hourlyLoss">
                    <div class="number">----</div>
                    <div class="desc"><%= __('Count Losses') %></div>
                </div>
            </div>
            <div class="block bottom">
                <div class="blockUnit" id="hourlyLow">
                    <div class="number">----</div>
                    <div class="desc"><%= __('Lowest') %></div>
                </div>
                <div class="blockUnit" id="hourlyAvg">
                    <div class="number">----</div>
                    <div class="desc"><%= __('Average') %></div>
                </div>
                <div class="blockUnit" id="hourlyHigh">
                    <div class="number">----</div>
                    <div class="desc"><%= __('Highest') %></div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainerChart">
        <div id="eachPingChart">
            <canvas id="eachPing"></canvas>
        </div>
        <div id="intPingChart">
            <canvas id="intPing"></canvas>
        </div>
        <div id="intPingChartAfter"></div>
    </div>
</div>
<div id="utility">
    <!--<div><%= __('Coming Soon') %></div>-->
</div>
<div id="footer">
    AcFun Trend Ver 4 by zxqdx, 2011~2015.<br>
    AcFun Trend Connectivity Module Ver 2.1.0 by zxqdx, 2012~2015.<br>
    zPing Ver <span id="version">---</span> @ GitHub by zxqdx, 2015.<br>
    <%= __('Footer Hint') %>
</div>